<div class="page page-search">

	<ol class="breadcrumb breadcrumb-small">
		<li>Home</li>
		<li class="active"><a href="#/pages/notification">My Best Offers</a></li>
	</ol>


	<div class="page-wrap">
		
		<div class="row">
			<div class="col-md-12">

				<form class="form-horizontal" action="javascript:;">
					<div class="input-group input-group-lg mb15">
						<input class="form-control" type="text" placeholder="Type Keywords">
						<div class="input-group-btn">
							<button type="submit" class="btn btn-default ion ion-search"></button>
						</div>
					</div>
				</form>

				<!-- search results -->
				<div class="search-heading mb5 ml5">
					<h4 class="text-light h5">
					<strong>13 : </strong> 
						<strong class="search-keyword text-danger text-normal"> Offers Found </strong>
					</h4>
				</div>

				
				<!-- Search results -->
				<div class="panel panel-lined mb20">
					<div class="panel-body">
						<div class="result mb20">
							<h4 class="mb0 text-info">Saravana Stores</h4>
							<a href="javascript:;" class="small text-success">1 days ago</a>
							<p class="mt5 summary">Saravana Stores (Home Appliance Division) in T Nagar, Chennai listed under Mobile Phone Dealers with Address, contact number, reviews & ratings. Saravana Stores (Home Appliance Division) in T Nagar, Chennai listed under Mobile Phone Dealers with Address, contact number, reviews & ratings.</p>
							<div class="tags">
								<span>Tags:&nbsp;</span>
								<label class="label label-primary">30% off</label>
								<label class="label label-primary">10% off</label>
							</div>
							<hr/>
						</div>

						<div class="result mb20">
							<h4 class="mb0 text-info">Pothys</h4>
							<a href="javascript:;" class="small text-success">2 day ago</a>
							<p class="mt5 summary">Pothys has established itself as house hold name in the textile industry in Tamil Nadu. Our undisputed reputation stems from our unflinching dedication to give you the highest quality,</p>
							<div class="tags">
								<span>Tags:&nbsp;</span>
								<label class="label label-primary">20% off</label>
							</div>
							<hr/>
						</div>

						<div class="result mb20">
							<h4 class="mb0 text-info">Poorvika Online Store</h4>
							<a href="javascript:;" class="small text-success">4 days ago</a>
							<p class="mt5 summary">Poorvika Online Store - Buy Latest Mobile Phones Online at best price in India; Check features and User Reviews.Free Shipping,Cash on delivery; Online Services with Address, contact number, reviews & ratings </p>
							<div class="tags">
								<span>Tags:&nbsp;</span>
								<label class="label label-primary">50% off</label>
							</div>
							<hr/>
						</div>

						<div class="result mb20">
							<h4 class="mb0 text-info">Venus Electronics</h4>
							<a href="javascript:;" class="small text-success">Last Week</a>
							<p class="mt5 summary">Venus Electronics is a comprehensive and high quality Dealer/Retailer of All Electronics, Home Appliances and Consumer Durables. Established in the year Get details about Venus Electronics stores Chennai, Venus Electronics outlet Chennai, Venus Electronics store mobile number Chennai also</p>
							<div class="tags">
								<span>Tags:&nbsp;</span>
								<label class="label label-primary">10% off</label>
								<label class="label label-primary">35% off</label>
							</div>
							<!-- <hr/> -->
						</div>

						<pagination total-items="50" ng-model="currentPage" class="pagination"></pagination>
					</div>
				</div> <!-- #end search-results -->
						
					
			</div>
		</div> <!-- #end row -->

	</div> <!-- #end page-wrap -->

</div>