<div class="page page-forms-elements">

	<ol class="breadcrumb breadcrumb-small">
		<li>Home</li>
		<li class="active"><a href="#/forms/elements">Add Payment your wallet</a></li>
	</ol>


	<div class="page-wrap">
		
		<!-- row -->
		<div class="row">
	
			<!-- col-left -->
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Payment Details</div>
					<div class="panel-body">
						<form role="form" class="form-horizontal"> <!-- form horizontal acts as a row -->
							
                        <!-- button addon -->
							<div class="form-group">
								<label class="col-md-3 control-label">Your Wallet Balance</label>
								<div class="col-md-3">
									<div class="input-group">
										<div class="input-group-btn">
											<button class="btn btn-default fa fa-inr"></button>
										</div>
										<input type="text" class="form-control" placeholder="2,200">
									</div>
								</div>	
							</div>
                            
							<!-- success control -->
							<div class="form-group">
								<label class="col-md-3 control-label">Add Amount</label>
								<div class="col-md-3">
									<div class="has-success">
										<input type="text" class="form-control">
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Total Amount</label>
								<div class="col-md-3">
									<div class="has-success">
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
							
							<div class="clearfix right">
								<button class="btn btn-primary mr5" type="submit">Pay</button>
								<button class="btn btn-default">Cancel</button>
							</div>
						</form>
					</div>
				</div>
			</div> <!-- #end col-left -->


		
		</div>
		<!-- #end row -->

		</div>
		<!-- #end row -->


	</div> <!-- #end page-wrap -->
</div>