<div class="page page-forms-elements page-dashboard page-ui-buttons">

	<ol class="breadcrumb breadcrumb-small">
		<li>Home</li>
		<li class="active"><a href="#/forms/elements">Pincode Page</a></li>
	</ol>


	<div class="page-wrap">
    
    <div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mt15 mb20">
					<div class="left">
						<h4 class="mb5 text-light">Check Your Pincode</h4>
						
					</div>
					<div class="right">
                    <a href="#"><button type="button" class="btn btn-line-info" md-ink-ripple>Step - 3</button></a>
   					</div>
				</div>
			</div>
		</div>
		
		<!-- row -->
		<div class="row">
	
					<!-- Selects -->
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-default panel-hovered panel-stacked mb20">
					<div class="panel-heading">Pincode</div>
					<div class="panel-body">
						<form role="form">
							<div ng-controller="SelectDemoCtrl">
							
								<!-- Multi Select -->
								<div class="form-group">
									<label class="control-label small">Check Your Pincode</label>
									<input type="text" class="form-control" placeholder="600011">
									<p class="text-danger text-right xsmall">Check pincode availability</p>
								</div>	
								
							</div>
<a href="#/gender-select"><button type="button" class="btn btn btn-primary right" md-ink-ripple>Next</button></a>
<a href="#/target-area"><button type="button" class="btn btn btn-primary right">Back</button></a>
						</form>
                               
					</div>
				</div>
			</div>
			<!-- #end col-right -->

		</div>
		<!-- #end row -->
      

	</div> <!-- #end page-wrap -->
</div>