<div class="page page-ui-buttons page-dashboard">

	<div class="page-wrap">
    
    <div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mt15 mb20">
					<div class="left">
						<h4 class="mb5 text-light">Check Your Details</h4>
						
					</div>
					
				</div>
			</div>
		</div>
        
        <div class="row">
			
			<div class="col-md-12 col-sm-12">
				<div class="panel panel-default mb20 mini-box panel-hovered">
                <div class="panel-heading">Verify Add Details</div>
					<div class="panel-body">
						<table class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th>Campaign Type</th>
								<th>Text Add</th>
						   	</tr>
						</thead>
						<tbody>
							<tr>
								<td>Selected Locations</td>
								<td>State</td>
							</tr>
                            <tr>
								<td>Selected States</td>
								<td>Tamilnadu, Kerala, Goa</td>
						   </tr>
                            <tr>
								<td>Target Gender</td>
								<td>Male</td>
							 </tr>
                            <tr>
								<td>Age Groups</td>
								<td>Teen age (12 to 18), Young adult (18 to 30)</td>
							 </tr>
                            <tr>
								<td>Add Tittle</td>
								<td>New Year Offers</td>
					      </tr>
                          
                          <tr>
								<td>Message</td>
								<td>select the text requiring a character count and simply open the character count tool</td>
					      </tr>
						</tbody>
					</table>
                    
                    <div class="clearfix right">
                    <a href="#/ads-preview-page"><button class="btn btn-default" type="submit">Preview</button></a>
					<button class="btn btn-primary" type="submit">Update</button>
					<a href="#/forms/payment-details"><button class="btn btn-default">Proceed</button></a>
							</div>
					</div>
					
				</div>
			</div>
									
		</div>
        
     
	</div> <!-- #end page-wrap -->
</div>