<div class="page page-dashboard" ng-controller="DashboardCtrl">
	
	<div class="page-wrap">

		<div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mt15 mb20">
					<div class="left">
						<h4 class="mb5 text-light">Choose your Ad type</h4>
						
					</div>
					<div class="right">
                    <button type="button" class="btn btn-line-info" md-ink-ripple>Step - 1</button>
   					</div>
				</div>
			</div>
		</div> <!-- #end row -->

		<!-- mini boxes -->
		<div class="row">
			
			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
								<a href="#/target-area"><img src="images/ads-text.jpg" alt="Text Add" class="img-responsive"></a>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-success">
					<p class="mt0 mb0 left"><strong>Text Ad</strong> <div class="right"><i class="fa fa-inr"></i> 0.50 / Cost Per Reach</div></p>
					</div>
				</div>
			</div>
            
            <div class="col-md-4 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
								<a href="#/target-area"><img src="images/ads-page.jpg" alt="Image Add" class="img-responsive"></a>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-info">
				<p class="mt0 mb0 left"><strong>Single Image Ad</strong> <div class="right"><i class="fa fa-inr"></i> 1 / Cost Per Reach</div></p>
						</div>
				</div>
			</div>
            
            <div class="col-md-4 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
								<a href="#/target-area"><img src="images/slide-add.jpg" alt="Text Add" class="img-responsive"></a>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-success">
						<p class="mt0 mb0 left"><strong>Slide Image Ad</strong> <div class="right"><i class="fa fa-inr"></i> 2 / Cost Per Reach</div></p>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
							<a href="#/target-area"><img src="images/ads-audio.jpg" alt="Text Add" class="img-responsive"></a>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-info">
						<p class="mt0 mb0 left"><strong>Audio Ad</strong> <div class="right"><i class="fa fa-inr"></i> 3 / Cost Per Reach</div></p>
						</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
							<a href="#/target-area"><img src="images/ads-video.jpg" alt="Text Add" class="img-responsive"></a>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-pink">
						<p class="mt0 mb0 left"><strong>Video Ad</strong> <div class="right"><i class="fa fa-inr"></i> 5 / Cost Per Reach</div></p>
						</div>
				</div>
			</div>
			<!-- #end mini boxes -->
		
			<!-- #end mini boxes -->
		</div>

		
	</div> <!-- #end page-wrap -->
</div>