<div class="page" ng-controller="crUsrCtrl">
	  	<div class="page-wrap">
		<div class="row">
								<div class="panel panel-default panel-hovered panel-stacked mb20">
							       <p>{{sts.msg}}</p>
							  
							  <div class="panel-body">
							  <div class="form-group">
														<label class="col-md-3 control-label">Full Name</label>
														<div class="col-md-9">
															<div class="input-group">
																<span class="input-group-addon ion ion-person"></span>
																<input type = "text" ng-model="angData1" placeholder="First Name" class="form-control"/>
																 <input type = "text" ng-model="angData2" placeholder="Last Name" class="form-control"/>
															</div>
														</div>
							  </div>
							 
							  
							  <button ng-click = "addData()" class="btn btn-success">Create User</button>
							  </div>
							  
							  
								
								 
								 
										
								</div> 
				
				</div>
				</div>
		 
      </div>