<div class="page page-dashboard" ng-controller="plantMap">
	
	<div class="page-wrap">


		<!-- row -->
		<div class="row">

			<!-- Analytics -->
			<div class="col-md-12">
				<div class="panel panel-default mb20 panel-hovered analytics">
					<div class="panel-heading">Map View</div>
					<div class="panel-body">
						<c3-chart id="c3chartAnalytics" config="analyticsconfig"></c3-chart>
						<div class="inline-charts mt30">
                            <div id="chartdiv"></div>
						</div>
					</div>
				</div>
				
			</div> <!-- #end analytics -->
			
		</div> <!-- #end row -->


	</div> <!-- #end page-wrap -->
</div>



