<div class="page page-dashboard" ng-controller="DashboardCtrl">
	
	<div class="page-wrap">

		

		

		<!-- row -->
		<div class="row">
	



            <!-- browser share -->
			<div class="col-md-12">
				<div class="panel panel-default mb20 panel-hovered">
					<div class="panel-heading">Reports</div>
					<div class="panel-body text-center">
						<iframe src="http://localhost:3000/" class="col-md-12" style="height:500px; border-color:none"></iframe>
					</div>
				</div>
			</div> 


		</div> <!-- #end row -->


	</div> <!-- #end page-wrap -->
</div>
