<div class="page page-ui-buttons page-dashboard">

	<div class="page-wrap">
    
    <div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mt15 mb20">
					<div class="left">
						<h4 class="mb5 text-light">Add Page</h4>
						
					</div>
					<div class="right">
                   <a href="#/target-area"><button type="button" class="btn btn-line-info" md-ink-ripple>Step - 5</button></a>
    
					</div>
				</div>
			</div>
		</div>
        
        <div class="row">
			
			<div class="col-md-12 col-sm-12">
				<div class="panel panel-default mb20 mini-box panel-hovered">
                <div class="panel-heading">Slide Image Ads</div>
					<div class="panel-body">
						<form role="form" class="form-horizontal"> <!-- form horizontal acts as a row -->
							<!-- normal control -->
							<div class="form-group">
								<label class="col-md-3 control-label">Add Tittle</label>
								<div class="col-md-9">
									<input type="text" class="form-control">
								</div>
							</div>
                            
                            <div class="form-group">
								<label class="col-md-3 control-label">Add Small Description</label>
								<div class="col-md-9">
									<input type="text" class="form-control">
								</div>
							</div>

									
							<!-- textarea control -->
							<div class="form-group">
								<label class="col-md-3 control-label">Upload Image</label>
                         	<div class="col-md-9 has-success">
				<div class="mb15">Select an <strong>JPEG and PNG</strong> file only<input type="file" id="imageCropInput" /></div>					
					</div>
							</div>
						
								
							<div class="clearfix right">
								<a href="#/add-details-page"><button class="btn btn-primary mr5" type="submit">Upload</button></a>
								<a href="#/gender-select"><button class="btn btn-default">Back</button></a>
							</div>
						</form>
					</div>
					
				</div>
			</div>
									
		</div>
        
     
	</div> <!-- #end page-wrap -->
</div>