<div class="page page-dashboard page-ui-buttons" ng-controller="DashboardCtrl">
	
	<div class="page-wrap">

		<div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mt15 mb20">
					<div class="left">
						<h4 class="mb5 text-light">Choose your target area</h4>
						
					</div>
					<div class="right">
                   <button type="button" class="btn btn-line-info" md-ink-ripple>Step - 2</button>    
					</div>
				</div>
			</div>
		</div> <!-- #end row -->
        
        <div class="row">
			
			<div class="col-md-6 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
                <div class="panel-heading">Select Area</div>
					<div class="panel-body">
                    <div class="clearfix">
							<div class="info left">
								<div layout layout-sm="column">
                                    <div class="ui-radio">
                                                                        
<label class="ui-radio gender-mb">
<input type="radio" name="radioEg" checked="" class="md-radio-button">
<span><a href="#/gender-select">ALL OVER IN INDIA</a></span>
</label>

<label class="ui-radio gender-mb">
<input type="radio" name="radioEg" checked="" class="md-radio-button">
<span>STATES</span>
</label>

<label class="ui-radio gender-mb">
<input type="radio" name="radioEg">
<span><a href="#/forms/campaign-cities">CITIES</a></span>
</label>

<label class="ui-radio gender-mb">
<input type="radio" name="radioEg">
<span><a href="#/forms/campaign-pincode">PINCODE</a></span>
</label>
</div>
	</div>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-success">
						<p class="mt0 mb0 left"><strong>Total Users:</strong> <div class="right"><i class="fa fa-users"></i> 10024</div></p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
                <div class="panel-heading note">Note:</div>
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
							<div class="form-group">
							<p>Important Days in January. Jan 1, Army Medical Corps Establishment Day. Jan 8, African National Congress Foundation Day Important Days in January. Jan 1, Army Medical Corps Establishment Day. Jan 8, African National Congress Foundation Day</p>
					</div>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-info">
						<p class="mt0 mb0 left"><strong>Total Users</strong> <div class="right"><i class="fa fa-users"></i> 20004</div></p>
						</div>
				</div>
			</div>
						
		</div>

<div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix">
					
              <a href="#/forms/campaign-state"><button type="button" class="btn btn btn-primary right">Next</button></a>
             <a href="#/add-campain"><button type="button" class="btn btn btn-primary right">Back</button></a>
					
				</div>
			</div>
		</div>
			
	</div> <!-- #end page-wrap -->
</div>