.drop-align{margin-bottom:25px;}
.count-num{margin:0px 0px 0px 10px;}
.someText{padding-left:30px; float:right;}
.add-btn{margin-left:10px;}
.net-num{margin:0px 0px 10px 10px;}
.m-botom{margin-bottom:15px !important;}
.inr-font{font-size:40px; line-height:normal; color:#dbdbdb;}
.bdr-pay{border-bottom:1px solid #efefef; padding:0px 0px 20px 0px;}
.text-cen{text-align:center;}
.img-responsive{width:100%;}
.blank-space{padding-bottom:20%;}
.gender-mb{margin-bottom:20px !important;}
.note{color:#F00 !important;}
.m-r{margin-right:10px;}
.device-size{font-size:36px; margin-right:-6px !important;}
.dat-pic{padding-bottom:0px;}
.dat-bt{padding-bottom:20%;}
.verfy{padding-top:12px;}
#sign-w{max-width:800px;}


